.profilePicture{
    width: 20%;
    margin-bottom: 3%;
}

.name-banner{
    margin-top: 5%;
    margin-bottom: 4%;
}
.about-me{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;

}
.navBar {
    text-align: center

}

.contactForm{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

